body{
    padding-left:5px;
    padding-right:5px;
}
#window-container{
    display:flex;
    height:600px;
    background: cornsilk;
}
.left-container{
    background: yellow;
    width:30%;
}
.right-container{
    background: chartreuse;
    width:70%;
}
.sub-right{
    display:flex;
    flex-direction: column;
}
#graphic-container{
    background: blue;
    height:60%;
}
#log-container{
    background: blueviolet;
   height:30%;
}