body{
    padding-left:10px;
    padding-right:10px;

}
#window-container{

    display:flex;
    height:550px;

    justify-content: space-between;
}
.left-container{
    background: yellow;
    width:30%;
    margin-right: 20px;
}
.right-container{
    background: powderblue;
    width:70%;
}
.sub-right{
    display:flex;
    flex-direction: column;
}
#graphic-container{
    justify-content: center;
}
#log-container{
    background: antiquewhite;
   height:30%;
}
#inputPanel{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left: 20%;
}